.Pmxchange_content_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 106, 255, 0.934);
}
.Pmxchange_content {
  height: 380px;
  width: 600px;
  background-color: #ffff;
  border-radius: 20px;
}
.TopChangeItem_content {
  height: 25%;
  width: 100%;
  /* background-color: blue; */
  border-bottom: 1px solid rgba(163, 161, 161, 0.816);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.ItemBuy_content {
  height: 98%;
  width: 33.3%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.ItemSell_content {
  height: 98%;
  width: 100px;
  background-color: red;
}
.ItemExchange_content {
  height: 98%;
  width: 100px;
  background-color: red;
}
.ImageStyle_Item {
  height: 25px;
  width: 25px;
}
.TextStyle_Item {
  font-size: 15px;
  font-weight: bold;
  color: #737373;
}
